# Ignore everything by default
*

# Whitelist folder structure
!*/

# Whitelist repository scripts and documentation
!sync-data.ps1
!sync-btc-eth.ps1
!README.md
!README.vi.md
!manifest.json
!.gitignore
